@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
  font-family: "Sarabun", sans-serif;
}

@layer utilities {
  .bg-light100_dark900 {
    @apply bg-light-100 dark:bg-dark-900;
  }

  .bg-nav {
    @apply z-40 bg-light-100 bg-opacity-60 backdrop-blur dark:bg-dark-900 dark:bg-opacity-60;
  }

  .text-dark700_light400 {
    @apply text-dark-700 dark:text-light-400 !important;
  }

  .text-dark900_light100 {
    @apply text-dark-900 dark:text-light-100 !important;
  }

  .h1-banner {
    @apply text-center text-4xl font-bold md:text-5xl lg:text-6xl;
  }

  .h2-banner {
    @apply text-center text-3xl font-semibold md:text-4xl;
  }

  .h3-banner {
    @apply text-base font-bold;
  }

  .h1-section {
    @apply text-3xl font-bold md:text-4xl;
  }

  .h2-section {
    @apply text-2xl font-semibold md:text-3xl;
  }

  .paragraph {
    @apply text-base;
  }

  .paragraph-sm {
    @apply text-sm;
  }

  .description {
    @apply text-lg;
  }

  .link {
    @apply text-sm;
  }

  .link-label {
    @apply text-sm font-semibold;
  }

  .btn {
    @apply max-w-[250px] rounded-md bg-primary-lime px-4 py-2 text-center text-white;
  }

  .border-gradient-outline {
    @apply relative flex items-center justify-center rounded-md border-none px-4 py-2;
  }

  .border-gradient-outline::after {
    @apply absolute -z-[1] h-[105%] rounded-md bg-gradient-to-r from-lime-500 to-orange-500;
    content: "";
    width: calc(100% + 2px);
  }

  .text-gradient {
    @apply bg-gradient-to-r from-lime-500 to-orange-500 bg-clip-text text-transparent;
  }

  .invert-colors {
    @apply invert dark:invert-0;
  }

  .icon-invert-colors {
    @apply text-zinc-700 dark:text-white;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
}
