@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --syntax-txt: #18181b;
    --syntax-str: #18181b;
    --radius: 0.5rem;
  }

  .dark {
    --syntax-txt: #e4e4e7;
    --syntax-str: #e4e4e7;
  }
}

body {
  font-family: "Sarabun", sans-serif;
}

@layer utilities {
  .bg-light100_dark900 {
    @apply bg-light-100 dark:bg-dark-900;
  }

  .bg-nav {
    @apply z-40 bg-light-100 bg-opacity-60 backdrop-blur dark:bg-dark-900 dark:bg-opacity-60;
  }

  .text-dark700_light400 {
    @apply text-dark-700 dark:text-light-400 !important;
  }

  .text-dark900_light100 {
    @apply text-dark-900 dark:text-light-100 !important;
  }

  .h1-banner {
    @apply text-center text-4xl font-bold md:text-5xl lg:text-6xl;
  }

  .h2-banner {
    @apply text-center text-3xl font-semibold md:text-4xl;
  }

  .h3-banner {
    @apply text-base font-bold;
  }

  .h1-section {
    @apply text-3xl font-bold md:text-4xl;
  }

  .h2-section {
    @apply text-2xl font-semibold md:text-3xl;
  }

  .h3-section {
    @apply text-xl font-semibold md:text-2xl;
  }

  .h4-section {
    @apply text-lg font-semibold md:text-xl;
  }

  .paragraph {
    @apply text-base;
  }

  .paragraph-sm {
    @apply text-sm;
  }

  .description {
    @apply text-lg;
  }

  .link {
    @apply text-sm;
  }

  .link-label {
    @apply text-sm font-semibold;
  }

  .btn {
    @apply flex max-w-[250px] items-center justify-center rounded-md bg-primary-lime px-4 py-2 text-white dark:text-zinc-900;
  }

  .border-gradient-outline {
    @apply relative flex items-center justify-center rounded-md px-4 py-2;
  }

  .border-gradient-outline::before {
    @apply absolute inset-0 rounded-md bg-gradient-to-r from-lime-500 to-orange-500;
    content: "";
    margin: -1px; /* แทนการใช้ calc() */
    z-index: -1;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-lime-500 to-orange-500 bg-clip-text text-transparent;
  }

  .invert-colors {
    @apply invert dark:invert-0;
  }

  .icon-invert-colors {
    @apply text-zinc-700 dark:text-white;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .resize {
    @apply z-[2] hidden lg:pointer-events-auto lg:relative lg:block lg:w-4 lg:cursor-col-resize lg:p-0;
  }

  .resize::before,
  .resize::after {
    @apply absolute inset-0 m-auto content-[""];
    height: calc(100% - 8px);
  }

  .resize::before {
    @apply lg:w-[1px] lg:bg-zinc-950;
  }

  .resize::after {
    @apply w-[11px] bg-transparent opacity-0 transition-opacity delay-500;
  }
}

@layer components {
  .jun-header {
    @apply h-fit !important;
  }
  .code-editor {
    & > textarea,
    & .token-line,
    & .token-line * {
      outline: none !important;
    }
  }
  .divider-btn {
    position: relative;
    z-index: 2;
    cursor: default;
    padding: 16px 0 0;
    pointer-events: auto;

    &:focus-visible {
      outline-color: #84cc16;
    }

    &:before,
    &:after {
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &:before {
      width: 100%;
      height: 1px;
      background-color: #71717a;
    }

    @media (min-width: 768px) {
      width: 16px;
      cursor: col-resize;
      padding: 0;

      &:before,
      &:after {
        content: "";
        height: calc(100% - 8px);
        position: absolute;
        top: 4px;
        left: 0;
        right: 0;
        bottom: 4px;
        margin: auto;
      }

      &:before {
        width: 1px;
        height: auto;
      }

      &:after {
        width: 11px;
        background-color: hsl(210deg 15% 20% / 0.5);
        opacity: 0;
        transition: opacity 500ms;
        border-radius: 3px;
      }

      &:hover:after {
        opacity: 1;
        transition: opacity 250ms;
      }
    }
  }

  .inline-outer-wrapper {
    &[data-stacked="true"] {
      margin-bottom: 16px;
    }
  }

  .action-btn {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    opacity: 0.7;
    transition: opacity 250ms;
    @apply text-zinc-900 dark:text-zinc-200;

    svg {
      display: block;
    }

    &:focus-visible {
      outline-color: red;
      outline-offset: -1px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.25rem;
    outline: none;
    opacity: 0.7;
    transition: opacity 250ms;
    border: 0.125rem solid white;
    @apply dark:bg-zinc-200;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1rem;
      height: 2.5rem;
      background: transparent;
      border: 0.125rem solid black;
      box-shadow: inset 0 0 0 2 white;
      cursor: pointer;
      transition: background 250ms;
    }

    &:focus-visible {
      outline-color: red;
      outline-offset: -1px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .hsl-slider {
    background-image: linear-gradient(
      to right,
      hsl(0deg 100% 50%),
      hsl(60deg 100% 50%),
      hsl(120deg 100% 50%),
      hsl(180deg 100% 50%),
      hsl(240deg 100% 50%),
      hsl(300deg 100% 50%),
      hsl(360deg 100% 50%)
    );
  }
}
