/* styles/prism.css */
/* Custom styles for code highlighting */

/* Override Prism.js theme colors */
code {
  font-family: "Fira Code", monospace;
  /* @apply text-xs lg:text-sm !important; */
}

.token.selector {
  @apply text-lime-800 dark:text-lime-500 !important;
}

.token.property,
.token.rule {
  @apply text-sky-800 dark:text-sky-500 !important;
}

.token.punctuation {
  @apply text-zinc-800 dark:text-zinc-500 !important;
}

.token.function,
.token.keyword {
  @apply text-orange-800 dark:text-orange-500 !important;
}

.token.tag {
  @apply text-orange-800 dark:text-orange-500 !important;
}

.token.attr-name {
  @apply text-lime-800 dark:text-lime-500 !important;
}

.token.attr-value {
  @apply text-sky-800 dark:text-sky-500 !important;
}

.token.comment {
  @apply text-zinc-800 dark:text-zinc-500 !important;
}
