/* styles/prism.css */
/* Custom styles for code highlighting */

/* Override Prism.js theme colors */
code {
  font-family: "Fira Code", monospace;
  @apply text-sm lg:text-base !important;
}

.token.selector {
  @apply text-lime-800 dark:text-lime-500 !important;
}

.token.property {
  @apply text-sky-800 dark:text-sky-500 !important;
}

.token.punctuation {
  @apply text-zinc-800 dark:text-zinc-500 !important;
}

.token.function {
  @apply text-orange-800 dark:text-orange-500 !important;
}
